* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.border 
{
    background-color: #70191c;
    border-color: #70191c !important;
}

.title
{
    color: #70191c;
    background-color: whitesmoke;
}
